.achievements-block {
  width: 100%;
  margin-top: 16px;
  min-height: 5rem;
}

.achievements-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: linear-gradient(
    -60deg,
    rgba(57, 92, 113, 0.3) 5%,
    rgba(88, 145, 164, 0.3) 95%
  );
  padding: 10px 16px;
  border-radius: 2px;
  box-sizing: border-box;
  justify-content: space-between;
}

.achievements-text-container {
  display: flex;
  flex-direction: column;
}

.achievements-text {
  font-size: 1rem;
}

.achievement-count-text {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.7rem;
}

.achievement-icons-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  overflow: auto;
  margin-left: 1.5rem;
}

.achievement-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  background: #0f1d27;
  object-fit: cover;
}
